.clock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clock h1,
.clock h2 {
  margin: 0;
}

.App {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
