label {
  display: block;
  font-size: 1.6rem;
  margin-top: 8px;
}

label + input {
  margin-top: 4px;
}

input {
  padding: 6px;
  font-size: 2rem;
}

input.validate:invalid {
  border: 2px solid red;
  outline: transparent;
  border-radius: 2px;
}

.error-message {
  margin-block: 6px 8px;
  color: red;
}

button {
  margin-top: 16px;
  font-size: 1.6rem;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: white;
  border: 2px solid black;
  cursor: pointer;
}

button:hover {
  background-color: hsl(0, 0%, 90%);
}

button:active {
  background-color: hsl(0, 0%, 80%);
}
