* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
}

html {
  background-color: #18191a;
  color: #e6e6e6;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

button {
  padding: 4px 8px;
  cursor: pointer;
}

.search-box {
  display: flex;
  gap: 16px;
}

input[type=text] {
  width: 240px;
  min-height: none;
  padding: 0 4px;
}
