* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

main .container {
  padding: 20px 16px;
}

h1 {
  margin-bottom: 16px;
}

ul {
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

nav {
  background-color: #2e3031;
  color: white;
}

.logo {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo,
nav ul a {
  padding: 24px;
}

nav ul {
  display: flex;
}

nav ul a:hover {
  background-color: #262829;
}
